body {
    background-color: #bebebe;
    font-family: Arial, Verdana, sans-serif;
}

.login__form-button {
    background-color: #00e18b;
    color: white;
    border: none;
    height: 35px;
    font-weight: bold;
}

.login__form-input {
    height: 30px;
    width: 280px;
    text-align: center;
    margin-bottom: 10px;
}

.login__input-form {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 39%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 150px;
    padding-bottom: 100px;
    margin-bottom: 20px;
    border: solid gray;
}

.login__logo {
    background-color: #6d6d6d;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    margin: -100px 0 0 -100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    z-index: 1;
}

.navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.navbar__cart-icon {
    color: #6d6d6d;
    margin: 0 15px;
}

.navbar__dropdown-icon {
    color: gray;
}

.navbar__heart-icon {
    color: #6d6d6d;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__menu-icon {
    color: gray;
    padding: 0 10px;
}

.navbar__right-options {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.navbar__search-bar {
    display: flex;
    width: 39%;
}

.navbar__search-bar-button {
    display: flex;
    align-items: center;
    background-color: white;
    border: solid gray;
    border-left: none;
}

.navbar__search-bar-input {
    width: 75%;
    padding: 10px;
    border: solid gray;
}