body {
    background-color: #bebebe;
}

.itemDetails__img {
    background-color: #6d6d6d;
    width: 70%;
}

.itemDetails__img-description {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: aquamarine;
}

.itemDetails__product-info {
    background-color: yellow;
    width: 25%;
}

.itemDetails__root {
    margin: 70px 40px 0;
}