body {
    background-color: #bebebe;
}

.mainPage__add-cart-button {
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    border: solid #6d6d6d;
    padding: 2px 15px;
}

.mainPage__category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPage__category-button {
    background-color: white;
    height: 60px;
    width: 60px;
    border: none;
    margin-top: 15px;
}

.mainPage__category-container {
    margin: 70px -10px 0 -10px;
    background-color: #6d6d6d;
    display: flex;
    justify-content: space-evenly;
}

.mainPage__category-name {
    margin: 5px 0;
}

.mainPage__heart-icon {
    color: #6d6d6d;
}

.mainPage__products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
}

.mainPage__product-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 5px;
}

.mainPage__product-img-button {
    height: 200px;
    width: 200px;
    border: none;
    background-color: #6d6d6d;
}

.mainPage__product-info-container {
    background-color: white;
    width: 200px;
    padding: 10px 0;
}

.mainPage__product-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: -15px 0;
}

.mainPage__product-text, .mainPage__product-price-text {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mainPage__product-text-description {
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mainPage__product-text-expiration {
    color: #6d6d6d;
    font-size: 10px;
}